In [ ]:
     -- DemoWhere: Where Column1 = 'example'

In [ ]:
 -- DemoWhere: WHERE Column2 > 100

In [ ]:
 -- DemoWhere: TotalColumn3 > 1000

In [ ]:
     -- DemoWhere: WHERE Column1 = 'example2'

In [ ]:
     -- DemoWhere: Column1 = 'example'
 -- DemoWhere: WHERE TotalColumn3 > 1000