In [ ]:
    --NewCellBegin_0
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable

In [ ]:
        -- DemoWhere: Where Column1 = 'example'
    --NewCellEnd_0
    )

In [ ]:
    -- NewCellBegin_1
    SELECT
        Column1,
        Column2,
        Column3
    INTO
        #TempTable
    FROM
        cte_example

In [ ]:
    -- DemoWhere: WHERE Column2 > 100
    -- NewCellEnd_1

In [ ]:
    -- NewCellBegin_2
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM
        #TempTable
    GROUP BY
        Column1,
        Column2

In [ ]:
    -- DemoWhere: TotalColumn3 > 1000
    -- NewCellEnd_2


    -- CTE example where 2 CTEs are used and a final SELECT is performed

In [ ]:
    -- NewCellBegin_3
    ;WITH cte_example AS (
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable

In [ ]:
        -- DemoWhere: Column1 = 'example'
    ),
    cte_example2 AS (

In [ ]:
        -- NewCellBegin_4
        SELECT
            Column1,
            Column2,
            Column3
        FROM
            SomeTable

In [ ]:
        -- DemoWhere: WHERE Column1 = 'example2'
        -- NewCellEnd_4
    )
    SELECT
        Column1,
        Column2,
        SUM(Column3) AS TotalColumn3
    FROM

        cte_example
    INNER JOIN
        cte_example2
    ON
        cte_example.Column1 = cte_example2.Column1

    GROUP BY
        Column1,
        Column2

In [ ]:
    -- DemoWhere: WHERE TotalColumn3 > 1000
    -- NewCellEnd_3
END